<div class="p-4 sidebar-background h-full flex flex-col">
  <h2 class="text-xl font-bold mb-4 text-white">Menu</h2>
  <mat-nav-list class="flex-grow">
    <a mat-list-item routerLink="/dashboard" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/reports" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">bar_chart</mat-icon>
      <span>Reports</span>
    </a>
    <a mat-list-item routerLink="/settings" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">settings</mat-icon>
      <span>Settings</span>
    </a>
    <a mat-list-item routerLink="/climate-data" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">eco</mat-icon>
      <span>Climate Data</span>
    </a>
    <a mat-list-item routerLink="/renewable-energy" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">wb_sunny</mat-icon>
      <span>Renewable Energy</span>
    </a>
  </mat-nav-list>
</div>