<div class="p-4 sidebar-background h-full flex flex-col">
  <h2 class="text-xl font-bold mb-4 text-white">Menu</h2>
  <mat-nav-list class="flex-grow">
    <a mat-list-item routerLink="/dashboard" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/dashboard/reports" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">bar_chart</mat-icon>
      <span>Reports</span>
    </a>
    <a mat-list-item routerLink="/dashboard/climate-data" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">eco</mat-icon>
      <span>Climate Data</span>
    </a>
    <a mat-list-item routerLink="/dashboard/renewable-energy" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">wb_sunny</mat-icon>
      <span>Renewable Energy</span>
    </a>
    <a mat-list-item routerLink="/dashboard/carbon-footprint" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">eco</mat-icon>
      <span>Carbon Footprint</span>
    </a>
    <a mat-list-item routerLink="/dashboard/water-usage" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">water</mat-icon>
      <span>Water Usage</span>
    </a>
    <a mat-list-item routerLink="/dashboard/energy-usage" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">power</mat-icon>
      <span>Energy Usage</span>
    </a>
    <a mat-list-item routerLink="/dashboard/waste-management" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">delete</mat-icon>
      <span>Waste Management</span>
    </a>
    <a mat-list-item routerLink="/dashboard/air-quality" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">cloud</mat-icon>
      <span>Air Quality</span>
    </a>
    <a mat-list-item routerLink="/dashboard/notifications" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">notifications</mat-icon>
      <span>Notifications</span>
    </a>
    <a mat-list-item routerLink="/dashboard/profile" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">person</mat-icon>
      <span>Profile</span>
    </a>
    <a mat-list-item routerLink="/dashboard/settings" class="hover:bg-green-700 flex items-center rounded-lg transition hover:shadow-xl">
      <mat-icon class="mr-4">settings</mat-icon>
      <span>Settings</span>
    </a>
  </mat-nav-list>
</div>