<mat-toolbar color="primary" class="w-full flex justify-between items-center shadow-lg topbar-background">
  <div class="flex items-center">
    <!-- <img src="../../../assets/images/logo.png" alt="Clogo" class="h-8 mr-4"> -->
    <button mat-icon-button (click)="toggleSidebar()" class="mr-4 topbar-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-lg font-semibold">Climate Dashboard</span>
  </div>
  <div class="flex items-center space-x-4 flex-grow justify-end">
    <div class="search-bar">
      <input type="text" placeholder="Search" class="search-input">
      <button class="search-icon">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
    <button mat-icon-button class="topbar-button">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="topbar-button">
      <mat-icon>eco</mat-icon>
    </button>
    <button mat-icon-button class="topbar-button">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button mat-icon-button class="topbar-button">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>