<mat-toolbar color="primary" class="w-full flex justify-between items-center shadow-lg">
  <div class="flex items-center">
    <button mat-icon-button (click)="toggleSidebar()" class="mr-4">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-lg font-semibold">Dashboard</span>
  </div>
  <div class="flex items-center space-x-4">
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>